*{
    border: 0;
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}
ul li{
    list-style: none;
}
.navbar{
    height: clamp(1rem, 7vh, 10rem);
    width: 100%;
    background-color: rgb(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    z-index: 1000;

    .navUl{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: clamp(2rem, 12vw, 15rem);
        box-sizing: border-box;
        padding-right: clamp(1.2rem, 2.625vw, 9rem);

        .click{
            width: 5rem;
            height: 100%;
            margin-left: clamp(4rem, 10vh, 40rem);

            .logo{
                height: clamp(3rem, 3.5vw, 9rem);
                width: clamp(3.3rem, 4.5vw, 9rem);
                cursor: pointer;
                background-image: url(/images/cvsu.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-color: transparent;
            }
        }
        .navCont{
            width: 40%;
            height: clamp(1rem, 7vh, 10rem);
            display: flex;
            justify-content: start;
            align-items: center;
            box-sizing: border-box;

            li{
                height: 100%;
                width: fit-content;
                flex: 1;
                padding: 1rem;
                text-align: center;
                box-sizing: border-box;
                border: 0.1rem solid transparent;
                
                &:hover{
                    background-color: rgb(146, 33, 33);
                }
                
                a{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: clamp(0.6rem, 1.25vw, 4.5rem);
                    font-weight: 700;
                }
            }
            
        }
        .btnCont{
            width: 20%; 
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            button{
                width: 7vw;
                height: 4vh;
                border-radius: 1rem;
                font-size: clamp(0.4rem, 0.875vw, 3rem);
                font-weight: 700;
                text-decoration: none;

                &:hover{
                    cursor: pointer;
                }

                &:active{
                    transform: translateY(0.1rem);
                }
            }
            .btn{
                background-color: transparent;
                border: 0.1rem solid black;

                &:hover{
                    background-color: rgba(0, 0, 0, 1);
                    color: white;
                }
            }
            .btn1{
                background-color: rgba(0, 0, 0, 1);
                color: white;

                &:hover{
                    background-color: transparent;
                    border: 0.1rem solid black;
                    color: black;
                }
            }
        }
    }
}
.signIn{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: clamp(1.4rem, 3.063vw, 10.5rem);

    .container{
        width: 60%;
        height: 75%;
        background-color: red;
        border-radius: clamp(0.4rem, 0.875vw, 3rem);
        display: flex;
        justify-content: center;

        .left{
            width: 50%;
            height: 100%;
            background-color: bisque;
        }
        
        .right{
            width: 50%;
            height: 100%;
            padding: clamp(1.4rem, 3.063vw, 10.5rem);
            box-sizing: border-box;
            display: flex;
            justify-content: start;
            flex-direction: column;

            h1{
                font-size: clamp(1.2rem, 2.625vw, 9.0rem);
            }
            .info{
                width: 100%;
                height: 30%;
                display: flex;
                justify-content: start;
                gap: clamp(0.8rem, 1.75vw, 6.0rem);
                align-items: center;
                flex-direction: column;
                margin-top: clamp(1.2rem, 2.625vw, 9.0rem);

                .inputEmail{
                    height: 30%;
                    width: 100%;
                }

                .psw{
                    width: 100%;
                    height: 45%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;

                    .inputPSW{
                        height: 65%;
                        width: 100%;
                    }

                    .remember{
                        width: 100%;
                        height: 30%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        

                        .days{
                            display: flex;
                            justify-content: start;
                            box-sizing: border-box;
                            
                            h3{
                                font-size: clamp(0.36rem, 0.79vw, 2.7rem);
                                margin-left: clamp(0.16rem, 0.35vw, 1.2rem);
                            }
                        }

                    }
                }
            }
            .contButtons{
                width: 100%;
                height: 30%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                margin-top: clamp(0.4rem, 0.88vw, 3rem);

                .login, .cvsuAccount{
                    width: 100%;
                    height: 30%;
                    border-radius: clamp(0.4rem, 0.88vw, 3rem);
                }
            }

            .account{
                font-size: clamp(0.4rem, 0.88vw, 3rem);
                margin-top: clamp(0.4rem, 0.88vw, 3rem);
                text-align: center;
            }

        }
    }
}
.footer{
    width: 100%;
    height: 15vw;
    background-color: rgb(0, 0, 0);
    
    .upper{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(0.4rem, 0.88vw, 3rem);
        color: antiquewhite;
        
        h1{
            font-size: clamp(0.6rem, 1.313vw, 4.5rem);
        }

        .links, .contacts{
            width: 20%;
            height: 95%;
            box-sizing: border-box;
            padding-top: clamp(0.4rem, 0.88vw, 3rem);
        }

        .emailLink{
            width: 20%;
            height: 95%;
            box-sizing: border-box;
            padding-top: clamp(0.4rem, 0.88vw, 3rem);

            .emailSend{
                margin-top: 0.5rem;
                width: 100%;
                height: 35%;
                background-color: aquamarine;
                display: flex;

                .email{
                    width: 87%;
                    height: 100%;
                }
                .send{
                    width: 13%;
                    height: 100%;
                }
            }

        }
    }
    
    .lower{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        

        .line{
            width: 90%;
            height: 100%;
            background-color: transparent;
            border: 0;
            border-top: 0.1rem solid grey;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .icons{
                width: 20%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                .socials{
                    width: 20%;
                    height: 80%;
                    background-color: antiquewhite;
                    border-radius: 50%;
                }
            }
            h1{
                color: white;
                font-size: clamp(0.4rem, 0.88vw, 3rem);
            }
        }
    }
    
}
