*{
    border: 0;
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}
ul li{
    list-style: none;
}
.navbar{
    height: clamp(1rem, 7vh, 10rem);
    width: 100%;
    background-color: rgb(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    z-index: 1000;

    .navUl{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: clamp(2rem, 12vw, 15rem);
        box-sizing: border-box;
        padding-right: clamp(1.2rem, 2.625vw, 9rem);

        .click{
            width: clamp(2rem, 4.375vw, 15.0rem);
            height: 100%;
            margin-left: clamp(4rem, 10vh, 40rem);

            .logo{
                height: clamp(3rem, 3.5vw, 9rem);
                width: clamp(3.3rem, 4.5vw, 9rem);
                cursor: pointer;
                background-image: url(/images/cvsu.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-color: transparent;
            }
        }
        .navCont{
            width: 40%;
            height: clamp(1rem, 7vh, 10rem);
            display: flex;
            justify-content: start;
            align-items: center;
            box-sizing: border-box;

            li{
                height: 100%;
                width: fit-content;
                flex: 1;
                padding: clamp(0.80rem, 0.88vw, 1.40rem);
                text-align: center;
                box-sizing: border-box;
                border: 0.1rem solid transparent;
                
                &:hover{
                    background-color: rgb(146, 33, 33);
                }
                
                a{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: clamp(0.6rem, 1.25vw, 4.5rem);
                    font-weight: 700;
                }
            }
            
        }
        .btnCont{
            width: 20%; 
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            button{
                width: 7vw;
                height: 4vh;
                border-radius: clamp(0.4rem, 0.88vw, 3rem);
                font-size: clamp(0.4rem, 0.875vw, 3rem);
                font-weight: 700;
                text-decoration: none;

                &:hover{
                    cursor: pointer;
                }

                &:active{
                    transform: translateY(0.1rem);
                }
            }
            .btn{
                background-color: transparent;
                border: 0.1rem solid black;

                &:hover{
                    background-color: rgba(0, 0, 0, 1);
                    color: white;
                }
            }
            .btn1{
                background-color: rgba(0, 0, 0, 1);
                color: white;

                &:hover{
                    background-color: transparent;
                    border: 0.1rem solid black;
                    color: black;
                }
            }
        }

    }
}

.subjects{
    background-color: #2eaac0;
    position: relative;
    width: 100%;
    height: 400vh;

    .major, .minor{
        width: 100%;
        height: 200vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: clamp(1.6rem, 3.5vw, 12.0rem);
        box-sizing: border-box;
        padding-top: clamp(3.2rem, 7vw, 24.0rem);

        .searchCont{
            width: 100%;
            height: 40%;
            display: flex;
            align-items: center;
            padding-left: clamp(2.2rem, 4.813vw, 16.5rem);
            box-sizing: border-box;

            .search{
                width: 27%;
                height: 40%;
                margin-right: clamp(3.2rem, 7vw, 24.0rem);
                position: relative;
                
                .searchBar{
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: clamp(1.2rem, 2.625vw, 9.0rem);
                    box-sizing: border-box;
                    padding-left: clamp(0.6rem, 1.313vw, 4.5rem);
                }

                .searchBtn{
                    width: 15%;
                    height: 100%;
                    background-color: rgb(126, 32, 32);
                    border-radius: clamp(0.8rem, 1.75vw, 6.0rem);
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }

        .majorText, .minorText{
            font-size: clamp(1.6rem, 3.5vw, 12.0rem);
            background-color: aqua;
            width: fit-content;
            padding: clamp(0.4rem, 0.88vw, 3rem);
            border-radius: clamp(0.8rem, 1.75vw, 6.0rem);
        }

        .row{
            width: 95%;
            height: 50vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: clamp(1.6rem, 3.5vw, 12.0rem);
        
            .subj{
                width: 26%;
                padding: Clamp(0.1rem, 0.3vw, 10rem);
                height: clamp(5rem, 34vh, 35rem);
                border-radius: 1rem;
                border: 0.3rem solid #546660;
                background-color: #ccf0d2;
                color: #064210;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;

                .head{
                    width: 90%;
                    height: 7vh;
                    margin-left: clamp(0.8rem, 1.7vw, 3rem);

                    .subjText{
                        padding-top: clamp(1rem, 1vw ,1.5rem);
                        height: 3vh;
                        width: 95%;
                        padding-bottom: clamp(1rem, 1.1vw , 2rem);
                        border: 0;
                        border-bottom: solid #596e5d 0.2rem;
                        width: 100%;
                        font-size: clamp(0.1rem, 2vw, 2.5rem);
                        font-weight: 700;
                    }
                }
                .body{
                    width: 87%;
                    flex-grow: 1;
                    height: clamp(6rem, 8vw, 20rem);
                    font-size: clamp(0.8rem, 1.2vw, 2rem);
                    margin: clamp(1rem, 1.7vw, 3rem);
                }
                .foot{
                    width: 100%;
                    height: 6vh;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 0;
                    border-top: dashed #546660 0.1rem;

                    .btn{
                        margin-left: clamp(1rem, 1vw, 3rem);
                        font-size: clamp(0.6rem, 1.8vw, 2rem);
                        cursor: pointer;
                        background-color: transparent;
                        color: #064210;
                    }
                    .chapters{
                        margin-right: clamp(1rem, 1vw, 3rem);
                        font-size: clamp(0.4rem, 2vw, 2rem);
                    }
                }
            }
        }
    }

    .minor{
        .row{
            height: 36vh;
        }
    }
}
.footer{
    width: 100%;
    height: 15vw;
    background-color: rgb(0, 0, 0);
    
    .upper{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(0.4rem, 0.88vw, 3rem);
        color: antiquewhite;
        
        h1{
            font-size: clamp(0.6rem, 1.313vw, 4.5rem);
        }

        .links, .contacts{
            width: 20%;
            height: 95%;
            box-sizing: border-box;
            padding-top: clamp(0.4rem, 0.88vw, 3rem);
        }

        .emailLink{
            width: 20%;
            height: 95%;
            box-sizing: border-box;
            padding-top: clamp(0.4rem, 0.88vw, 3rem);

            .emailSend{
                margin-top: 0.5rem;
                width: 100%;
                height: 35%;
                background-color: aquamarine;
                display: flex;

                .email{
                    width: 87%;
                    height: 100%;
                }
                .send{
                    width: 13%;
                    height: 100%;
                }
            }

        }
    }
    
    .lower{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        

        .line{
            width: 90%;
            height: 100%;
            background-color: transparent;
            border: 0;
            border-top: 0.1rem solid grey;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .icons{
                width: 20%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                .socials{
                    width: 20%;
                    height: 80%;
                    background-color: antiquewhite;
                    border-radius: 50%;
                }
            }
            h1{
                color: white;
                font-size: clamp(0.4rem, 0.88vw, 3rem);
            }
        }
    }
    
}
