*{
    border: 0;
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}
ul li{
    list-style: none;
}
.navbar{
    height: clamp(1rem, 7vh, 10rem);
    width: 100%;
    background-color: rgb(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    z-index: 1000;

    .navUl{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: clamp(2rem, 12vw, 15rem);
        box-sizing: border-box;
        padding-right: clamp(1.2rem, 2.625vw, 9rem);

        .click{
            width: clamp(2rem, 4.375vw, 15.0rem);
            height: 100%;
            margin-left: clamp(4rem, 10vh, 40rem);

            .logo{
                height: clamp(3rem, 3.5vw, 9rem);
                width: clamp(3.3rem, 4.5vw, 9rem);
                cursor: pointer;
                background-image: url(/images/cvsu.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-color: transparent;
            }
        }
        .navCont{
            width: 40%;
            height: clamp(1rem, 7vh, 10rem);
            display: flex;
            justify-content: start;
            align-items: center;
            box-sizing: border-box;

            li{
                height: 100%;
                width: fit-content;
                flex: 1;
                padding: clamp(0.80rem, 0.88vw, 1.40rem);
                text-align: center;
                box-sizing: border-box;
                border: 0.1rem solid transparent;
                
                &:hover{
                    background-color: rgb(146, 33, 33);
                }
                
                a{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: clamp(0.6rem, 1.25vw, 4.5rem);
                    font-weight: 700;
                }
            }
            
        }
        .btnCont{
            width: 20%; 
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            button{
                width: 7vw;
                height: 4vh;
                border-radius: clamp(0.4rem, 0.88vw, 3rem);
                font-size: clamp(0.4rem, 0.875vw, 3rem);
                font-weight: 700;
                text-decoration: none;

                &:hover{
                    cursor: pointer;
                }

                &:active{
                    transform: translateY(0.1rem);
                }
            }
            .btn{
                background-color: transparent;
                border: 0.1rem solid black;

                &:hover{
                    background-color: rgba(0, 0, 0, 1);
                    color: white;
                }
            }
            .btn1{
                background-color: rgba(0, 0, 0, 1);
                color: white;

                &:hover{
                    background-color: transparent;
                    border: 0.1rem solid black;
                    color: black;
                }
            }
        }

    }
}
.landpage{
    width: 100%;
    height: 60vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: clamp(0.8rem, 1.75vw, 6.0rem);
    box-sizing: border-box;
    
    .offer{
        width: 40%;
        height: 70%;
        background-color: black;
        border-radius: clamp(0.4rem, 0.88vw, 3rem);
        corner-shape: scoop;
    }

    .offerDiv{
        width: 30%;
        height: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        .offer1, .offer2{
            width: 95%;
            height: 48%;
            background-color: beige;
            border-radius: clamp(0.4rem, 0.88vw, 3rem);
            corner-shape: scoop
        }
    }

}
.list{
    width: 100%;
    height: 290vh;
    background-color: blueviolet;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: clamp(0.4rem, 0.88vw, 3rem);

    .top{
        width: 100%;
        height: 6vh;
        background-color: antiquewhite;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 4rem;
        box-sizing: border-box;

        h1{
            width: 20%;
            height: 100%;
        }

        .search{
            width: 20%;
            height: 90%;
            position: relative;
            
            i{
                width: 15%;
                height: 100%;
                display: flex;
                align-items: center;
                position: absolute;
                top: 0;
                left: 4%;
            }
            .searchBar{
                width: 100%;
                height: 100%;
                border-radius: clamp(1.2rem, 2.625vw, 9.0rem);
                box-sizing: border-box;
                padding-left: clamp(1rem, 2.188vw, 7.5rem);
                font-size: clamp(0.4rem, 0.88vw, 3rem);
            }

            .searchBtn{
                width: 10%;
                height: 90%;
                background-color: rgb(126, 32, 32);
                border-radius: clamp(0.8rem, 1.75vw, 6.0rem);
                position: absolute;
                top: 7%;
                right: 1%;

                i{
                    width: 90%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .row{
        width: 95%;
        height: 45vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .product{
            width: 18%;
            height: 95%;
            border: 0.1rem solid black;

            .prof{
                width: 100%;
                height: 65%;
                background-color: rgb(53, 105, 165);
            }
            .info{
                width: 100%;
                height: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .tutorName{
                    font-size: clamp(1rem, 2.188vw, 7.5rem)
                }
                .tutorRank{
                    font-size: clamp(0.6rem, 1.313vw, 4.5rem)
                }
            }
            .moreInfo{
                width: 100%;
                height: 15%;
                display: flex;
                
                .price{
                    font-size: clamp(0.6rem, 1.313vw, 4.5rem);
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0.1rem solid black;
                }

                .tutor{
                    width: 50%;
                    height: 100%;
                    border: 0.1rem solid black;
                }
            }
        }
    }
}
.footer{
    width: 100%;
    height: 15vw;
    background-color: rgb(0, 0, 0);
    
    .upper{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(0.4rem, 0.88vw, 3rem);
        color: antiquewhite;
        
        h1{
            font-size: clamp(0.6rem, 1.313vw, 4.5rem);
        }

        .links, .contacts{
            width: 20%;
            height: 95%;
            box-sizing: border-box;
            padding-top: clamp(0.4rem, 0.88vw, 3rem);
        }

        .emailLink{
            width: 20%;
            height: 95%;
            box-sizing: border-box;
            padding-top: clamp(0.4rem, 0.88vw, 3rem);

            .emailSend{
                margin-top: 0.5rem;
                width: 100%;
                height: 35%;
                background-color: aquamarine;
                display: flex;

                .email{
                    width: 87%;
                    height: 100%;
                }
                .send{
                    width: 13%;
                    height: 100%;
                }
            }

        }
    }
    
    .lower{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        

        .line{
            width: 90%;
            height: 100%;
            background-color: transparent;
            border: 0;
            border-top: 0.1rem solid grey;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .icons{
                width: 20%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                .socials{
                    width: 20%;
                    height: 80%;
                    background-color: antiquewhite;
                    border-radius: 50%;
                }
            }
            h1{
                color: white;
                font-size: clamp(0.4rem, 0.88vw, 3rem);
            }
        }
    }
    
}

